# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc
*.pyo

# Model outputs / checkpoints
mbert_sentiment/
xlmr_sentiment/
mamba_sentiment/

# OS-specific (optional, but nice to have)
.DS_Store
Thumbs.db

# Personal
miko.*
**/miko.*

# Cache
cache/
datasets/
/.vs
/.old/openai_generate_sentiments.py
/mamba_original_sentiment
/mamba_helsinki_sentiment
/mamba_google_sentiment
/bert_sentiment
/roberta_sentiment
/mbert_untrained_sentiment
/xlmr_untrained_sentiment
/mamba_google_eval_sentiment
/mamba_original_eval_sentiment
